html {
height: 800px;
min-width: 400px;
}
.body-container {
display: flex;
flex-direction: column;
height: 100%;
}
body, input, button {
font-size: 14px;
font-family: arial,sans-serif;
color: #bdc1c6;
min-width: 400px;
}
body {
background: #202124;
height: 100%;
margin: 0;
padding: 0;
}

.links {
font-family: arial,sans-serif;
font-size: 24px;
color: #8ab4f8;
padding: 5px;
}

.header .links {
float: right;
margin: 20px;
height: 90px;
}

.search-bar{
background-color: transparent;
border-radius: 24px;
height: 44px;
width: 638px;
margin: 10px;
}


.column > input{
background-color: transparent;
border-radius: 4px;
color: #e8eaed;
height: 30px;
margin: 5px;
}

input.search-bar {
border: 1px solid #5f6368;
}

.column > input, .column > label {
font-size: 18px;
font-family: arial,sans-serif;
color: #bdc1c6;
}

.form {
text-align-last: center;
}

.submit {
font-size: 28px;
background-color: #303134;
border-radius: 4px;
font-family: arial,sans-serif;
margin: 10px;
align-items: center;
justify-content: center;
line-height: 27px;
height: 36px;
min-width: 54px;
}
.form-container {
margin: 0;
padding: 0;
min-width: 400px;
height: 90px;
}
.advanced-form-container {
font-family: arial,sans-serif;
font-size: 32px;
margin: 20px;
padding: 35px;
}
.image-form-container {
margin: 20px;
padding: 80px;
height: 400px;
}
.row {
margin: 20px;
}
.left{
float: left;
width: 25%;
}
.right{
float: left;
width: 75%;
}
.row input{
text-align:left;
font-family: arial,sans-serif;
color: #bdc1c6;
border: 1px solid #5f6368;
}
#submit-advanced-search {
font-family: arial,sans-serif;
font-size: 24px;
color: white;
margin: 20px;
background: #8ab4f8;
border-radius: 4px;
border: 1px solid #3079ed;
height: 32px;
min-width: 120px;
text-align: center;
}
.footer, .footer > a{
height:90px;
font-size: 14px;
text-align-last: right;
margin: 20px;
font-family: arial,sans-serif;
color: #8ab4f8;
}