.links {
font-size: 24px;
color: blue;
text-align: align-right;
margin: 5px;
padding: 5px;
}

#header ul, .form  ul {
list-style-type: none;
float:center;
}

#header li {
float: right;
}

#search_bar {
border-radius: 24px;
height: 44px;
width: 638px;
}

.form {
text-align-last: center;
}

#submit {
font-size: 22px;
padding: 10px;
margin: 10px;
text-align: centered;
align-items: center;
justify-content: center;
}

#root_container ul {
list-style-type: none;
padding: 10px;
}

#root_container li {
padding: 10px;
}


#search_list li {
}

#search_bar {
text-font: 20px
}

#submit {
border-radius: 24px;
}